body {
	background-color: #343a40;
  color: #ffffff;
}

ul {
  flex-basis: 50%;
  list-style-type: none;
}

li {
  font-size: 1;
}

select, input {
  color: #dddddd;
  background-color: 646f72;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: left;
  padding: 8px;
}

tr {
  color: #FFFFFF;
  background-color: #485255;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

p {
  margin-top: 0;
  margin-bottom: 0rem;
}

#image-container {
  display: flex;
  width: 30%;
  height: 20%;
  text-align: left;
}

#container-body {
  padding-top: 5%;
  background-color: #343a40;
  color: #ffffff;
}

#accommodation {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
  padding-left: 1%;
  border-bottom: 1px solid #ffffff;
  background-color: #343a40;
  color: #ffffff;
}

#accommodation-info {
  display: flex;
  flex-direction: column;
  padding: 1vw;
}

#accommodation-data {
  display: flex;
  flex-direction: row;
  flex-basis: 40%;
  padding: 1vw;
}

#accommodation-data-offers {
  flex-direction: column;
  flex-basis: 70%;
}

#accommodation-data-offers p {
  margin: 0;
}

#accommodation-data-stats {
  flex-direction: column;
  flex-basis: 30%;
  text-align: right;
}

#accommodation-data-stats p {
  margin: 0;
}

.rowPairContainer {
  display: flex;
  flex-direction: row;
}

.container-fluid {
  padding-left: 15vw;
  padding-right: 15vw;
}

.navbar-nav {
  margin-right: -20vw;
}

.checked {
  color: #fea700;
}

/* BOOKING PART */
#booking-container {
  display: flex;
  flex-direction: column;
  margin-top: 0.3%;
  margin-bottom: 0.2%;
  background-color: #343a40;
  color: #ffffff;
}

/* CHECKBOX CSS */
/* Customize the label (the container) */
.rooms-data-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.rooms-data-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  float: right;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.rooms-data-container:hover input~.checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a green background */
.rooms-data-container input:checked~.checkmark {
  background-color: #007bff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.rooms-data-container input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.rooms-data-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*1150*/
@media screen and (max-width: 1150px) {
    .rowPairContainer {
       flex-direction: column;
    }
    
    #image-container {
       width: 100%;
       height: 60%;
    }
    
    #accommodation-data {
       justify-content: center;
    }

    #accommodation-data-offers {
    flex-basis: 20%;
    }
    
    #accommodation-data-stats {
    flex-basis: 20%;
    }
}

@media screen and (max-width: 800px) {

    #accommodation-data-offers {
        flex-basis: 40%;
    }
    
    #accommodation-data-stats {
        flex-basis: 40%;
    }
}

@media screen and (max-width: 330px) {

    #accommodation-data-offers {
        flex-basis: 50%;
    }
    
    #accommodation-data-stats {
        flex-basis: 50%;
    }
}
	
	
	