#outer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 15vw;
  padding-right: 15vw;
}

#panel {
  padding: 1vw;
  position: fixed;
  display: none;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: 40%;
  background-color: #ffffff;
}

#formCover {
  position: fixed;
  display: none;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.8);
}

.panel-controller {
  display: flex;
  flex-direction: column;
}

.left-container {
  display: flex;
  flex: 1;
  margin: 5px;
  justify-content: center;
  flex-direction: column;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.booking-container {
  display: flex;
	margin: 1vw;
  flex-direction: row;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 1vw;
}
.booking-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.left-inner {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.right-inner {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.right-container {
  display: flex;
  flex: 1;
  margin: 5px;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.listing-container {
  display: flex;
  flex-direction: row;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
}

.listing-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.column-left {
  display: flex;
  flex-direction: column;
}

.column-right {
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  font-size: 1.5rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.style-p {

}

.button-control {

}
