#outer-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-left: 15vw;
	padding-right: 15vw;
}

.left-container {
	display: flex;
	flex: 1;
	margin: 5px;
	border: 1px solid black;
	justify-content: center;
	flex-direction: column;
}

.booking-container {
	display: flex;
	flex-direction: row;
}

.left-inner {
	display: flex;
	flex-direction: column;
}

.right-inner {
	display: flex;
	flex-direction: column;
}

.right-container {
	display: flex;
	flex: 1;
	margin: 5px;
	justify-content: center;
	flex-direction: column;
	border: 1px solid black;
}

.listing-container {
	display: flex;
	flex-direction: row;
}

.column-left {
	display: flex;
	flex-direction: column;
}

.column-right {
	display: flex;
	flex-direction: column;
}

.title {
	text-align: center;
}

.buttons {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}
