/*body {
	background-color: #fdffff;
	margin: 0;
	padding: 0;
}

#container {
	display: flex;
	flex-wrap: wrap;
}

#menuContainer {
	flex-direction: row;
	margin: 0;
	padding: 0;
}

#menuContainer > ul {
	width: 50vw;
	list-style: none;
}

#navBar {
    list-style-type: none;
    overflow: hidden;
}

#navBar > li {
}

#navBar>li a {
    color: black;
    text-align: center;
    text-decoration: none;
}

#container {
	width: 100vw;
}

#menuContainer {
	background-color: #333333;
}

#mainTitle {
	color: #ffffff;
}

#navBar {
	list-style-type: none; margin : auto;
	padding: 0;
	overflow: hidden;
}

#navBar > :first-child {
	width: 30vw;
}

#navBar > li {
	float: left;
	margin: auto;
}

#navBar>li a {
	display: block;
	color: white;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}

#navBar>li a:hover {
	background-color: #111111;
}

.checkItem {
	background-color: #9AECDB;
}*/