<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="css/accommodationStyle.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="js/accommodationrooms.js"></script>

  <title>Holiday Maker - Accommodation</title>
</head>

<body>
  <div class="container-fluid">

    <!--Menubar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Holiday Maker</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item"><a class="nav-link" href="/">Back to frontpage</a></li>

          <li class="nav-item"><a class="nav-link" href="/dashboard" tabindex="-1" aria-disabled="true">Profile</a></li>
        </ul>
      </div>
    </nav>
    <!-- END-->

    <div id="container-body">
      <div id="accommodation">

        <div id="image-container">
          <img id="accommodation-img" src="" alt="Accommodation image">
        </div>

        <div id="accommadation-info">
          <h4 id="accommodation-header"></h4>
          <p id="accommodation-description"></p>
          <span id="rating">
          </span>
        </div>

        <div id="accommodation-data">
          <div id="accommodation-data-offers">
            <p>Pool</p>
            <p>Restaurant</p>
            <p>Child events</p>
            <p>Entertainment</p>
            <p>Nearest beach</p>
            <p>Nearest center</p>
          </div>

          <div id="accommodation-data-stats">
            <p id="hasPool"></p>
            <p id="hasRestaurant"></p>
            <p id="hasChildEvents"></p>
            <p id="hasEntertainment"></p>
            <p id="distanceBeach"></p>
            <p id="distanceCenter"></p>
          </div>
        </div>
      </div>

      <div id="container-rooms">
        <table id="table-rooms">
        </table>
        <p id="totalPrice"></p>


      </div>
    </div>
  </div>
</body>

</html>
