<html>

<head>
	<title>Holiday Maker</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" href="css/dashboardstyle.css">

</head>

<body>
	<!-- Menu bar -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="nav-link mr-auto" href="#">back to explorer</a>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto">

				<li class="nav-item active"><a class="nav-link" href="#">Sign
						out</a></li>
			</ul>
		</div>
	</nav>
	<!--Add listing form-->
	<div id="panel">
		<form>
			<div class="panel-controller">

				<p id="booking-id">Booking ID</p>
				<p id="price">Price</p>
				<p id="date-from">Date from</p>
				<p id="date-to">Date to</p>
				<p id="rooms">Number of rooms</p>
				<p id="adults">Number of adults</p>
				<p id="kids">Number of kids</p>

				<select name="package" id="package-selector">
					<option value="" disabled selected hidden>Select Package</option>
				</select>
			</div>
			<input type="submit" value="Submit">
		</form>
	</div>

	<div id="outer-container" class="container-fluid">
		<p class="title">Bookings</p>
		<!-- Booking Container -->
		<div class="left-container">

			<!--		<div class="booking-container">
				<div class="left-inner w-50">
					<p id="booking-id">Booking ID</p>
					<p id="price">Price</p>
					<p id="date-from">Date from</p>
					<p id="date-to">Date to</p>
				</div>
				<div class="right-inner w-50">
					<p id="rooms">Number of rooms</p>
					<p id="adults">Number of adults</p>
					<p id="kids">Number of kids</p>
				</div>
			</div>
			<div class="buttons ml-auto">
				<button id="cancel">Cancel Booking</button>
				<button id="edit">Edit Booking</button>
			</div>  -->
		</div>

		<!-- Listing Container -->
		<div class="right-container">
			<p class="title">My Listings</p>
			<!--
			<div class="listing-container">
				<div class="column-left w-50">
					<p id="listing-id">Listing ID</p>
					<p id="location">Location</p>
					<p id="rooms">Number of rooms</p>
					<p id="rating">Rating</p>
				</div>
				<div class="column-right w-50">
					<p id="pool">Pool</p>
					<p id="beach">Distance to beach</p>
					<p id="center">Distance to center</p>
				</div>
			</div>
			<div class="buttons ml-auto">
				<button id="cancel">Remove Booking</button>
				<button id="edit">Edit Listing</button>
			</div> -->
		</div>
	</div>



</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="js/dashboardscript.js"></script>

</html>
