<html>

<head>
<title>Holiday Maker</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
	<link rel="stylesheet" href="css/landingpagestyle.css">
</head>
<body>
	<div class="container-lg">
		<!--Menubar-->
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Holiday Maker</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active"><a class="nav-link" href="#">Home
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Login</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Sign up</a></li>

					<li class="nav-item"><a class="nav-link disabled" href="#"
						tabindex="-1" aria-disabled="true">Profile</a></li>
				</ul>
			</div>
		</nav>

		<!--Filter-->
		<div id="filterContainer">
			<div id="filterLeft">
				<div id="locationContainer">
					<p class="propertyTitle">Location</p>
					<select name="location" id="locationSelector"></select>
				</div>
				<div id="checkInContainer">
					<p class="propertyTitle">Check In</p>
					<select name="checkIn" id="checkInSelector"></select>
				</div>
				<div id="checkOutContainer">
					<p class="propertyTitle">Check Out</p>
					<select name="checkOut" id="checkOutSelector"></select>
				</div>
				<div id="adultsContainer">
					<p class="propertyTitle">Adults</p>
					<select name="adults" id="adultsSelector"></select>
				</div>
				<div id="kidsContainer">
					<p class="propertyTitle">Kids</p>
					<select name="kids" id="kidsSelector"></select>
				</div>
			</div>
			<div id="filterMid">
				<div class="checkItem">
					<input type="checkbox" id="poolInput" name="pool">
					<p for="pool">Pool</p>
				</div>
				<div class="checkItem">
					<input type="checkbox" id="restaurantInput" name="restaurant">
					<p for="restaurant">Restaurant</p>
				</div>
				<div class="checkItem">
					<input type="checkbox" id="entertainmentInput" name="entertainment">
					<p for="entertainment">Night Entertainment</p>
				</div>
				<div class="checkItem">
					<input type="checkbox" id="clubInput" name="club">
					<p for="club">Children Club</p>
				</div>
			</div>
			<div id="filterRight">
				<div id="roomsContainer">
					<p class="propertyTitle">Rooms</p>
					<select name="rooms" id="roomsSelector"></select>
				</div>
				<div id="packageContainer">
					<p class="propertyTitle">Package</p>
					<select name="package" id="packageSelector"></select>
				</div>
				<div id="centerContainer">
					<p class="propertyTitle">Distance to Center</p>
					<select name="center" id="centerSelector"></select>
				</div>
				<div id="beachContainer">
					<p class="propertyTitle">Distance to Beach</p>
					<select name="beach" id="beachSelector"></select>
				</div>
				<input type="button" value="Show Results" />
			</div>
		</div>
		<div id="resultsContainer">
			<table id="results">
				<tr class="headerStyle">
					<th>Image</th>
					<th>Details</th>
					<th>Action</th>
				</tr>
				<tr class="rowStyle">
					<td class="itemStyle">img</td>
					<td class="itemStyle">details</td>
					<td class="itemStyle">book now</td>
				</tr>
			</table>
		</div>
	</div>
	<footer>
	
	 <h5 class="text-uppercase">Contact info</h5>
	<p id="adress">
	Adress:
	</p>
	
	<a
	href="https://newton.learnpoint.se/">Newton 
	</a>
	 
	<p>
	Github: 
	</p>
	<a
	href="https://github.com/ollejj/HolidayMaker">Github/holidayMaker
	</a>
	<p>
	Authors:
	</p>
	
	<p id="members">
	Christoffer, Frida, Olle and Tanvir
	</p>
	</footer>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
	integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
	integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
	crossorigin="anonymous"></script>

</html>