<html>

<head>
	<title>Holiday Maker</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

	<link rel="stylesheet" href="css/landingpagestyle.css">
</head>

<body>

	<!--  <h3 sec:authorize="isAuthenticated()" th:text="${customer.email}"></h3>-->

	<div class="container-fluid">

		<!--Menubar-->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">Holiday Maker</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active"><a class="nav-link" href="#">Home
							<span class="sr-only">(current)</span>
						</a></li>
					<li class="nav-item" id="login"></li>
					<li class="nav-item" id="signup"></li>

					<li class="nav-item" id="profile"></li>

					<li class="nav-item" id="signOut"></li>
				</ul>
			</div>
		</nav>

		<!--Filter-->
		<div class="titleHeader">
			<p class="navbar-brand headerTitle">Filter</p>
		</div>
		<div class="filterContainer">
			<div class="filterLeft">
				<div class="fullContainer">
					<p class="propertyTitle">Location</p>
					<select name="location" id="locationSelector">
						<option value="any" selected>Any Location</option>
					</select>
				</div>
				<div class="rowPairContainer">
					<div class="halfContainer">
						<p class="propertyTitle">Check In</p>
						<select name="checkIn" id="checkInSelector">
							<option value="" disabled selected hidden>dd/mm/yyyy</option>
						</select>
					</div>
					<div class="halfContainer">
						<p class="propertyTitle">Check Out</p>
						<select name="checkOut" id="checkOutSelector">
							<option value="" disabled selected hidden>dd/mm/yyyy</option>
						</select>
					</div>
				</div>
				<div class="rowPairContainer">
					<div class="halfContainer">
						<p class="propertyTitle">Adults</p>
						<select name="adults" id="adultsSelector">
							<option value="" disabled selected hidden>Number of
								Adults</option>
						</select>
					</div>
					<div class="halfContainer">
						<p class="propertyTitle">Kids</p>
						<select name="kids" id="kidsSelector">
							<option value="" disabled selected hidden>Number of Kids</option>
						</select>
					</div>
				</div>
			</div>


			<div class="filterMid">
				<div class="rowPairContainer">
					<div class="halfContainer">
						<p class="propertyTitle">Access to Pool?</p>
						<select name="pool" id="poolSelector">
							<option value="true">Yes</option>
							<option value="false" selected>No</option>
						</select>
					</div>
					<div class="halfContainer">
						<p class="propertyTitle">Activities for Children?</p>
						<select name="kidAct" id="childActivitiesSelector">
							<option value="true">Yes</option>
							<option value="false" selected>No</option>
						</select>
					</div>
				</div>
				<div class="rowPairContainer">
					<div class="halfContainer">
						<p class="propertyTitle">Nightly Entertainment?</p>
						<select name="entertainment" id="entertainmentSelector">
							<option value="true">Yes</option>
							<option value="false" selected>No</option>
						</select>
					</div>
					<div class="halfContainer">
						<p class="propertyTitle">Restaurant?</p>
						<select name="restaurant" id="restaurantSelector">
							<option value="true">Yes</option>
							<option value="false" selected>No</option>
						</select>
					</div>
				</div>
			</div>
			<div class="filterRight">
				<div class="rowPairContainer">
					<div class="halfContainer">
						<p class="propertyTitle">Rooms</p>
						<select name="rooms" id="roomsSelector">
							<option value="" disabled selected hidden>Number of
								Rooms</option>
						</select>
					</div>
					<div class="halfContainer">
						<p class="propertyTitle">Package</p>
						<select name="package" id="packageSelector">
							<option value="" disabled selected hidden>Select Package</option>
						</select>
					</div>
				</div>
				<div class="rowPairContainer">
					<div class="halfContainer">
						<p class="propertyTitle">Distance to Center</p>
						<select name="center" id="centerSelector">
							<option value="5000" selected>Max Distance</option>
						</select>
					</div>
					<div class="halfContainer">
						<p class="propertyTitle">Distance to Beach</p>
						<select name="beach" id="beachSelector">
							<option value="5000" selected>Max Distance</option>
						</select>
					</div>
				</div>
				<div class="halfContainer">
					<input id="show" class="submit" type="button" value="Show Results" />
				</div>
			</div>

		</div>


		<div class="titleHeader">
			<p class="navbar-brand headerTitle">Results</p>
			<select name="sortBy" id="sort">
				<option value="asc" selected>Sort by Rating (Asc)</option>
				<option value="desc">Sort by Rating (Desc)</option>
			</select>
		</div>
		<div class="resultsContainer"></div>

		<div id="formCover">
			<div id="loginForm">
				<p class="navbar-brand headerTitle">Login</p>
				<input id="email" placeholder='Email' value="" type='text' name='email' /> <input id="password" value="" type='password' placeholder='Password' name='password' /> <input name="submit" type="submit"
					value="Login" onclick="closeLogin(true)" />
			    <a class="closeForm" href="#" onclick="closeLogin(false)">Close</a>
			</div>
			<div id="regForm">
				<p class="navbar-brand headerTitle">Register</p>
				<input placeholder='Email' id="regEmail" type='text' name='email'/> <input placeholder='Password' id="regPass" type='password' name='password' /> <input placeholder='Repeat Password' id="regPassRep" type='password' name='password' /> <input
					name="submit" type="submit" value="Register" onclick="closeReg(true)" />
				<a class="closeForm" href="#" onclick="closeReg(false)">Close</a>
			</div>
		</div>
	</div>
	<footer>

		<div class="footerContainer">

			<div class="halfContainer">
				<div class="rowPairContainer">
					<p id="adress">Adress: </p>
					<a href="https://newton.learnpoint.se/">Newton</a>
				</div>
			</div>
			<div class="halfContainer">
				<div class="rowPairContainer">
					<p id="location">Location: </p>
					<a
						href="https://www.google.se/maps/place/Newton+Malm%C3%B6/@55.6098155,13.041636,17z/data=!3m1!4b1!4m5!3m4!1s0x4653a3547430d8c7:0x19efb59498939bed!8m2!3d55.6098125!4d13.0438248?hl=svhttps://www.google.se/maps/place/Newton+Malm%C3%B6/@55.6098155,13.041636,17z/data=!4m5!3m4!1s0x4653a3547430d8c7:0x19efb59498939bed!8m2!3d55.6098125!4d13.0438248?hl=sv">Location
						of Newton</a>
				</div>
			</div>
			<div class="halfContainer">
				<div class="rowPairContainer">
					<p>Github: </p>
					<a href="https://github.com/ollejj/HolidayMaker">Github/holidayMaker </a>
				</div>
			</div>
			<div class="halfContainer">
				<div class="rowPairContainer">
					<p>Authors: </p>
					<p id="members">Christoffer, Frida, Olle and Tanvir</p>
				</div>
			</div>
		</div>

	</footer>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="js/autologoutscript.js"></script>
<script src="js/landingpagescript.js"></script>

</html>
